<div class="subhead">
  <div class="subhead-title">
    <p>Add a Cocktail</p>
  </div>
  <div class="d-flex">
    <%= link_to "Back to Cocktails", cocktails_path, class: "btn btn-main" %>
  </div>
</div>
<div class="container">
  <div class="form-box">
    <%= simple_form_for @cocktail do |c| %>
      <%= c.input :name, input_html: { class: 'form-input'} %>
      <%= c.input :description, input_html: { class: 'form-input'} %>
      <%= c.input :photo, as: :file, input_html: { class:'' } %>
      <%= c.submit "Add", class:'btn btn-pour' %>
    <% end %>
  </div>
</div>
