<div class="subhead">
  <div class="subhead-title">
    <p><%= @cocktail.name %></p>
  </div>
  <div class="d-flex">
    <%= link_to "Add a Measure", new_cocktail_measure_path(@cocktail), class:"btn btn-main" %>
    <%= link_to "Back to Cocktails", cocktails_path, class:"btn btn-main" %>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(@cocktail.photo.key) %>);">
  <div class="container">
    <p> <%= @cocktail.description %></p>
  </div>
</div>
<div class="container">
  <div class="cards">
    <% @cocktail.measures.each do |measure| %>
      <div class="card-product">
        <div class="card-product-shop">
          <%# style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://spoonacular.com/cdn/ingredients_100x100/<%= measure.ingredient.name %>
          <%= link_to "https://www.google.com/search?q=#{measure.tidy_up}&tbm=shop", target: 'blank' do %>
            <i class="fas fa-shopping-cart"></i>
          <% end %>
        </div>
        <div class="card-product-infos">
          <h2><%= measure.ingredient.name %></h2>
          <p class="caption"><%= measure.description %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="comments">
    <h2>Cocktail Comments</h2>
    <div data-controller="insert-in-list">
      <div class="comments-list" data-insert-in-list-target="items">
        <% if @cocktail.comments.blank? %>
          Be the first to say something about the <%= @cocktail.name %>.
        <% else %>
          <% @cocktail.comments.each do |comment| %>
            <%= render 'shared/comment', comment: @comment %>
          <% end %>
        <% end %>
      </div>
      <%= render 'shared/comment_form', cocktail: @cocktail, comment: @comment %>
    </div>
  </div>
</div>
